<div class="funfacts-area-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-funfacts">
                    <img src="assets/img/funfacts-shape2.png" alt="image">
                  <h3><span [countUp]="1926">00</span></h3>
                  <p>عدد الطلاب</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-funfacts">
                    <img src="assets/img/funfacts-shape2.png" alt="image">
                  <h3><span [countUp]="15">00</span></h3>
                  <p>عدد الدورات</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-funfacts">
                    <img src="assets/img/funfacts-shape2.png" alt="image">
                  <h3><span [countUp]="10">00</span></h3>
                  <p>المدربين</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-funfacts">
                    <img src="assets/img/funfacts-shape2.png" alt="image">
                  <h3><span [countUp]="100">00</span>%</h3>
                  <p>معدل الرضا</p>
                </div>
            </div>
        </div>
    </div>
</div>
