<div dir="rtl" class="feedback-flyout " [class.active]="active" (click)="onClick()">
	<div class="label"><span> للتواصل</span>
	  <!-- <i class="bx bx-phone-call"></i> -->
  
	</div>
  
  </div>
  <div class="sidebar-contact " [class.active]="active" dir="ltr">
	<i class="bx bx-exit"  data-flip="horizontal" (click)="onClick()"> </i>
	<h6 class="text-center text-danger">لحجز دورات تدريبية </h6>
	<div class="scroll">
	  <ul class="numbers ">
  
		<li>
		  <i class="bx bx-phone-call"></i>
		  <a href="tel:+966 0552060144"> 2468-722-017</a>
		</li>
		<li>
			<i class="bx bx-phone-call"></i>
		  <a class="" href="fax:0552060144">055-965-2296</a>
		</li>
		<li>
			<!-- <i class="bx bx-envelope tex"></i> -->
		  <a href="gmail:">future2030v@gmail</a>
		</li>
	  </ul>
	</div>
  
  
  </div>
  