<div class="view-all-courses-area bg-fef8ef">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="view-all-courses-content" style="background: #fff;z-index: 1;padding: 2rem 0 2rem 2rem;">
          <span class="sub-title">اقتراحات اليوتيوب</span>
          <h2>لما كان الانشغال في اقتراحات اليوتيوب من فيديوهات!</h2>
          <p>
            لما كان الانشغال في اقتراحات اليوتيوب من فيديوهات تبعدك عن هدفك الأساسي ، الكثير من الطلاب حينما يذاكروا على
            موقع اليوتيوب ينتبهوا لمقترحاته من فيديوهات فى مجالات أخري خصوصاً الكروية وسرعان ما يتركون ما كانوا يذاكرونه
            ليشاهدوا تلك الفيديوهات اما رؤية المستقبل يهيئ لك الجو تماما لتحقيق الهدف
          </p>
          <!--                    <a routerLink="/courses" class="default-btn"><i class="flaticon-agenda"></i>View Courses<span></span></a>-->
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="view-all-courses-image">
          <img src="assets/img/man-with-laptop.png" alt="image">
        </div>
      </div>
    </div>
  </div>
  <div class="shape1"><img src="assets/img/shape1.png" alt="image"></div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>
