<div class="health-services-area bg-f6f7fb pt-100 pb-70">
    <div class="container">
        <div class="section-title">
          <span class="sub-title">رؤية المستقبل</span>
            <h2 class="playfair-display-font">تم تصميمها بمنتهى الاحترافية والمهارة والتكنولوجيا الحديثة</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-health-services-box">
                    <div class="icon">
                        <i class="flaticon-brain-process"></i>
                    </div>
                    <h3 class="playfair-display-font">الدراسة فى معهد رؤية المستقبل</h3>
                  <p>تتميز الدراسة فى معهد  رؤية المستقبل بالتعلم على احدث الاجهزة التكنولوجية .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-health-services-box">
                    <div class="icon">
                        <i class="flaticon-computer"></i>
                    </div>
                    <h3 class="playfair-display-font">الدورات فى معهد رؤية المستقبل</h3>
                  <p>يتميز معهد رؤية المستقبل باقو ى الدورات فى مجالات عدة مثل تعلم فن الجرافيك - وفن التصوير .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-health-services-box">
                    <div class="icon">
                        <i class="flaticon-shield-1"></i>
                    </div>
                    <h3 class="playfair-display-font">المهارات المقدمة من معهد رؤية المستقبل</h3>
                  <p>يقدم معهد رؤية المستقبل اقوى دورات تدريبة فى مجالات عدة من مستوى المبتدائين – الى مستوى الاحتراف .</p>
                </div>
            </div>
        </div>
    </div>
</div>
