<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo"><img src="assets/img/logo.png" style="height: 60px" alt="logo"></a>
                    <p>تم تصميمها بمنتهى الاحترافية والمهارة والتكنولوجيا الحديثة لتاهيل الكوادر العربية لمستقبل افضل</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>صفحات</h3>
                    <ul class="footer-links-list">
                      <li class="nav-item"><a routerLink="/">الرئيسية</a></li>
                      <li class="nav-item"><a routerLink="/courses">الدورات التدريبية</a></li>
                      <li class="nav-item"><a routerLink="/teacher">المدربين</a></li>
                      <li class="nav-item"><a routerLink="/about">معلومات عنا</a></li>
                      <li class="nav-item"><a routerLink="/contact">اتصل بنا</a></li>
                      <li class="nav-item"><a routerLink="/privacy-policy">سياسة الخصوصية</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>عنوان</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>الباحة _دوار الشفاء _بجانب بن دماس </li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:0177222468">017-722-2468</a></li>
                      <li><i class='bx bx-phone-call'></i><a href="tel:0559652296">055-965-2296</a></li>
                      <li><i class='bx bx-envelope'></i><a href="mailto:future2030v@gmail.com">future2030v@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p><i class='bx bx-copyright'></i> مدعوم من رؤية المستقبل 2021</p>
                </div>
                <div class="col-lg-6 col-md-6">
                  <ul class="social-link">
                    <li><a href="https://www.facebook.com/%D8%B1%D8%A4%D9%8A%D8%A9-%D8%A7%D9%84%D9%85%D8%B3%D8%AA%D9%82%D8%A8%D9%84-105497398537833" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                    <!--                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>-->
                    <!--                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>-->
                    <!--                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>-->
                  </ul>
                </div>
            </div>
        </div>
    </div>
   <!-- <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>-->
</footer>
