<div class="container">
    <div class="section-title">
        <span class="sub-title">رؤية المستقبل</span>
        <h2>تم تصميمها بمنتهى الاحترافية والمهارة والتكنولوجيا الحديثة</h2>
        <p>
          تتوقع الشركة تطورا وتفوقا في تحقيق هدفها ونشر العلم والخبرات باللغة العربية عن طريق الدورات التدريبية في المجالات المختلفة وأهمها: الهندسة – الفنون – اللغات – الاقتصاد – البرمجيات…. وبعدها يتم التوسع لتقدم الخدمة لأكبر عدد ممكن من الطلاب
        </p>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6 mb-3">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-brain-process"></i>
                </div>
                <h3>الدراسة فى معهد رؤية المستقبل</h3>
                <p>تتميز الدراسة فى معهد  رؤية المستقبل بالتعلم على احدث الاجهزة التكنولوجية .</p>
<!--                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>-->
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 mb-3">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-computer"></i>
                </div>
                <h3>الدورات فى معهد رؤية المستقبل</h3>
                <p>يتميز معهد رؤية المستقبل باقو ى الدورات فى مجالات عدة مثل تعلم فن الجرافيك - وفن التصوير .</p>
<!--                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>-->
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 mb-3">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-shield-1"></i>
                </div>
                <h3>المهارات المقدمة من معهد رؤية المستقبل</h3>
                <p>يقدم معهد رؤية المستقبل اقوى دورات تدريبة فى مجالات عدة من مستوى المبتدائين – الى مستوى الاحتراف .</p>
<!--                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>-->
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 mb-3">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-world"></i>
                </div>
                <h3>المدربين فى معهد رؤية المستقبل</h3>
                <p>يتميز المدربين فى معهد رؤية المستقبل بالشرح المتقن والمعلومات المتطورة فى جميع المجالات  والوصول بك الى اعلى المستويات .</p>
<!--                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>-->
            </div>
        </div>
    </div>
</div>
