<div class="testimonials-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">رأي المتدربين</span>
      <h2>دراسة مرنة حسب وتيرتك ، وفقًا لاحتياجاتك الخاصة</h2>
      <p>تهدف رؤية المستقبل الى النهوض بمستوى المواطن العربي عن طريق الدورات التدريبية في مختلف المجالات... بالتركيز على الدورات التي تخص سوق العمل</p>
    </div>
    <div class="testimonials-slides-two">
      <owl-carousel-o [options]="testimonialsSlidesTwo">
        <ng-template carouselSlide>
          <div class="testimonials-item">
            <div class="row align-items-center">
              <div class="col-lg-8 col-md-12">
                <p>معهد رؤية المستقبل معهد أكاديمى متطور فى شتى المجالات وبه احداث الاجهزة  .</p>
                <h3>بشاير الدوسري</h3>
              </div>
              <div class="col-lg-4 col-md-12 text-center">
                <div class="rounded-circle overflow-hidden">
                  <img src="assets/img/review1.jpeg" alt="image">
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonials-item">
            <div class="row align-items-center">
              <div class="col-lg-8 col-md-12">
                <p>التعلم على يد اكاديمين متخصصين .</p>
                <h3>نحاء السبيعي</h3>
              </div>
              <div class="col-lg-4 col-md-12 text-center">
                <div class="rounded-circle overflow-hidden">
                  <img src="assets/img/review2.jpeg" alt="image">
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonials-item">
            <div class="row align-items-center">
              <div class="col-lg-8 col-md-12">
                <p>المتابعة الجيدة مع الطلاب وتعلمهم كل ماهو جديد فى وقت قياسى .</p>
                <h3>منيره السهلي</h3>
              </div>
              <div class="col-lg-4 col-md-12 text-center">
                <div class="rounded-circle overflow-hidden">
                  <img src="assets/img/review3.jpeg" alt="image">
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
